body {
    padding: 0px;
    margin: 0px;
    background-image: url("photo-1530177150700-84cd9a3b059b.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Question 01 */
#line2 {
    margin-top: 0;
    text-align: center;
    background-color: rgb(142, 230, 11);
    padding-top: 20px;
    border-radius: 7px;
    padding-bottom: 10px;

}

#box {
    background-image: url("premium_photo-1681426319710-e284eab20c36.avif");
    height: 350px;
    width: 400px;
    border: 3px solid rgb(12, 156, 156);
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 480px;
    text-align: center;

}

#line1 {
    padding-top: 20px;
    font-size: 25px;
    color: rgb(12, 156, 156);
}

#line3 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    transition: 2.5s;
    border-radius: 8px;
    background-color: greenyellow;

}

#line3:active {
    background-color: red;
    color: white;
    transform: scale(1.1);

}


/* Question 02 */
#link8 {
    background-image: url(istockphoto-133441603-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}